ion-title.md.title-default.hydrated {
    display:  inline-block;
}
.ion-color-secondary {
    --ion-color-base:  #128C7E!important;
}
.ion-color-primary{
    --ion-color-base: #ECE5DD !important;
}
#btn{
    color: grey;
}