<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Details</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> <strong>Task Details:</strong></ion-card-title>
  </ion-card-header>
  <hr/>
  <ion-card-content>
    <p><strong>Title: </strong>Task 1</p>
    <p><strong>Requirement: </strong>Lorem ipsum dolor sit amet.</p>
    <p><strong>Description: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nemo!</p>
    <p><strong>Language: </strong>JavaScript</p>
    <p><strong>Summary: </strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, quis?</p>
  </ion-card-content>
  <hr/>
</ion-card>
</ion-content>
