<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start" class="avatar">
        <img src="../../assets/images/avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h3>ABCD</h3>
        <p>caption</p>
      </ion-label>
      <ion-icon name="qr-code-outline" color="secondary"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-icon name="key-outline" ></ion-icon>
      <ion-label>
        <h2>Account</h2>
        <p>Privacy,security,change number</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>
        <h2>Chats</h2>
        <p>Theme, wallpapers, chat history</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>
        <h2>Notifications</h2>
        <p>Message, group & call tones</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="ellipse-outline"></ion-icon>
      <ion-label>
        <h2>Storage and data</h2>
        <p>Network usage, auto-download</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>
        <h2>Help</h2>
        <p>Help center, contact us, privacy policy</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>
        <h2>Invite a friend</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="center">
    <p>from</p>
    <h5>IPAY</h5>
  </div>

</ion-content>