<ion-header>
  <ion-toolbar color="danger">
    <ion-title id="tool">User Registeration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="userForm" (ngSubmit)="signUp(userForm.value)">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" formControlName="fname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" formControlName="lname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.email">
      <div *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.password">
        <div *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
          {{ error.message }}
        </div>
    </ng-container>
    <ion-item>
      <ion-label position="floating">Select Country</ion-label>
      <ion-select>
        <ion-select-option >INDIA</ion-select-option>
        <ion-select-option >USA</ion-select-option>
        <ion-select-option >LONDON</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contact number</ion-label>
      <ion-input type="text" formControlName="contact" required></ion-input>
    </ion-item>

    <ion-button type="submit" color="#128C7E" expand="block" [disabled]="!userForm.valid">Register</ion-button>
    
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <label class="ion-text-center" color="success">{{successMsg}}</label>
  </form>
  <p class="ion-text-center">Already registered? <a (click)="goToLogin()"  style="color:#128C7E">Login</a></p>
</ion-content>
<!--<ion-header>
  <ion-toolbar style="background-color: blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" formControlName="fname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" formControlName="lname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select Country</ion-label>
      <ion-select formControlName="select">
        <ion-select-option >INDIA</ion-select-option>
        <ion-select-option >USA</ion-select-option>
        <ion-select-option >LONDON</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contact number</ion-label>
      <ion-input type="text" formControlName="contact" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" (click)="submit()" [disabled]="!myForm.valid" expand="block">CREATE AN ACCOUNT</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>-->
