.new-background-color{
    --background: blue;
    color:white;
}
.grey{
    background-color: rgba(128, 128, 128, 0.404);
    padding:20px;
    margin-top:1%;
    margin-bottom: 1%;
}
.pics{
   height:40px;
   text-transform: lowercase;
}